*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --yellow-color: rgba(230, 199, 68);
  --white-color: rgba(255, 255, 255);
  --black-color: rgba(0, 0, 0);
  --grey-color: rgba(244, 246, 245, 1);
  --light-Wood: rgba(218, 165, 32, 1);
  --gold: rgba(255, 215, 0, 1);
  --yellow-color: rgba(235, 217, 107, 1);
}

body {
  font-family: "poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--black-color);
 
}

.container-custom {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

h2.nav-header {
  display: inline-block;
  letter-spacing: 0.1rem;
  font-family: "poppins", "Franklin Gothic Medium";
  font-weight: bolder;
  letter-spacing: 1px;
}
a.img-container {
  margin: 0;
}

h1.main-text {
  font-size: 2.5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 5rem;
  width: 230px;
  padding: 10px;
}

span.white-h1 {
  padding: 0 6rem 0 0;
}

span.yellow-h1 {
  padding: 0 5rem 0 0;
}

.card {
  box-shadow: 0 0 11px 0 #010101;
  width: max-content;
  border-radius: 1rem 14px;
}

p.first-paragraph {
  font-family: "poppins";
  line-height: 5%;
}

.explore-left {
  gap: 1rem;
  min-width: 400px;
  max-width: 550px;
  height: 600px;
}

.first-nav {
  margin: 1rem auto;
  padding: 0.5rem;
}

.nav-item {
  padding: 1rem;
}
.nav-img {
  /* width: 1.5rem; */
  height: 30px;
  margin: 0 0 1rem 2rem;
}

.explore {
  height: 577px;

  padding: 1.5rem;
  border-radius: 2rem 14px;
  margin: 1rem 2rem 1rem 2rem;
}

.explore-right {
  /* min-width: 400px;
  max-width: 500px; */
  /* padding-right: 3rem; */
}

.person-img {
  display: block;

  padding-bottom: 0;

  min-width: 100%;
}

/* .star-div::after {
  display: inline-block;

 
}



#star-one::after {
  content: url(../imgs/Star\ 12.svg);
  position: absolute;
  top: 11em;
 left: 1em;
}

#star-two::after,#star-two::before {
  content: url(../imgs/Star\ 12.svg);

 
}

#star-three::after {
  content: url(../imgs/Star\ 12.svg);

}

#star-four::after {
  content: url(../imgs/Star\ 12.svg);

} */

.star-container {
  position:fixed;
 


}

.star{
  position: absolute;
  width: 30px;
  
}



.star-one{
  top: 3rem;
  right: 5.5rem;
}

.star-two{
  top: 5px;
  right: 34rem;
}

.star-three{
  top: 30rem;
  right: 31rem;
}

.star-four{
  top: 28rem;
  right: 3rem;
}

.brand-nav {
  gap: 3rem;
}

.brand-nav > svg {
  height: 50px;
}
.brand-section {
  
  padding: 2rem;
  width: 100%;
}
.new-arrivals-section {

  margin-bottom: 10px;
}
.new-arrivals-header {
  padding: 3rem 20px 0 20px;
}
.new-arrivals-text {
  text-transform: uppercase;
  width: max-content;
}
.card-one, .card-two, .card-three {
  margin: 2rem auto;
}

.card > img {
  /* border-radius: 1rem 12px; */
  border: 0;
  height: 550px;
  width: 100%;
}

.card-body a,
.card-body small {
  text-transform: capitalize;
  text-decoration: none;
  color: #010101;
}

p > small,
a > span {
  color: grey;
}



.payday-sale {
  padding: 7rem 0.5rem 0 1rem;
 
}

.payday-text-span {
  padding-inline: 11px;
  display: block;
  max-width: fit-content;
  min-width: fit-content;
}

.payday-text {
  font-size: 4rem;
}

.payday-lady {
  width: 50%;
}

p.payday-paragraph {
  font-size: 1.3rem;
}

.young-favorite-text {
  text-transform: capitalize;
  padding: 2rem;
}

.young-favorite-photo {
  width: 500px;
  height: 610px;
}

.young-favorite-cards {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.card-body > a {
  font-weight: 500;
  font-size: 1rem;
  color: #101010;
}

.app-store-box {
  height: 500px;
  align-self: center;
  gap: 1.5rem;
  padding: 2rem 0 0 2rem;
  margin-top: 4.3rem;
  align-items: start;
}

h2.download-text {
  text-transform: uppercase;
  padding: 10px;
}

small.discount-text {
  padding: 10px;
  font-weight: 400;
  font-size: 1.1rem;
}

.store-option {
  gap: 10px;
  margin: 4px 0 0 0;
}
.store-link {
  padding-right: 3rem;
}
.store-link > img {
  height: 47px;
}
.phone {
  padding: 1rem auto 1rem auto;
  width: 100%;
}

#newsletter-form {
  border: 0;
}
.form-header p {
  font-size: 24px;
  width: 100%;
}
.form-section {
  height: 450px;
  text-align: center;
  padding: 4.5rem 0 4.5rem 0;
}
.form-box {
  width: 350px;
  padding: 10px auto 10px auto;
}
h2.community-text {
  text-transform: uppercase;
  font-size: 3rem;
  padding: 4.5rem auto 10px auto;
  text-align: center;
  position: relative;
}

.submit-btn {
  margin-left: 3rem;
  width: 5rem;
}

.social-icons {
  width: 200px;
}
a > svg {
  width: 40px;
}

ul li a {
  text-decoration: none;
}

/* @media (min-width: 475px) and (max-width: 600px){
  .container-custom {
    max-width: 475px;
  }
 
} */

@media (min-width: 100px) and (max-width: 475px) {
  .container-custom {
    max-width: 475px;
  }
  .explore-right,
  .person-img {
    display: none;
  }

  .star-container {
    display: none;
  }


}

@media (min-width: 474px) and (max-width: 640px) {
  .container-custom {
    max-width: 640px;
  }

  .explore-right,
  .person-img {
    display: none;
  }

  #payday-section{
    display: flex;
    flex-direction: column-reverse;
  }

  .payday-lady{
    width: 100%;
  }

  .payday-sale{
    padding-bottom: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  .container-custom {
    max-width: 760px;
  }
  .first-nav {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1024px) {
  .container-custom {
    max-width: 1024px;
  }

  .explore {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .explore-left {
    align-items: center;
    margin: 10px auto 4px auto;
  }

  h1.main-text {
    width: 100%;
    margin: 50px auto 0 auto;
  }
}

/* @media(max-width: 1280px){
  .container-custom{
  max-width: 1200px;
  
  }
  } */

@media (min-width: 1536px) {
  .container-custom {
    max-width: 1536px;
  }
}
